/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */

body {
	position: relative;
	padding-top: 50px;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
	font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .navbar-brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	font-weight: bold;
	color: #0000A4;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

@media (min-width: 768px) {
	body > .navbar .navbar-brand {
		float: right;
	}
}

@media (max-width: 767px) {
	body > .navbar .navbar-collapse {
		float: left;
		width: 100%;
	}

	body > .navbar .navbar-brand {
		float: left;
	}

	.pull-right {
		float: none !important;
	}

	.pull-left {
		float: none !important;
	}
}

body > .navbar .navbar-brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4);
	color: #2A6496;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
	padding-top: 30px;
}

section > .page-header,
section > .lead {
	color: #5A5A5A;
}

section > ul li {
	margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
	margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 70px 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	border: 0;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
	position: relative;
	padding: 4px 0;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background: #000041; /* Old browsers */
}

.jumbotron h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

.jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
	color: #FFFFFF;
	color: rgba(255, 255, 255, .5);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.jumbotron a:hover {
	color: #FFFFFF;
	text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

/* Download button */
@-webkit-keyframes downloadButton {
	from {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .5);
	}
	50% {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 25px rgba(0, 68, 204, .9);
	}
	to {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .5);
	}
}

@-moz-keyframes downloadButton {
	from {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .5);
	}
	50% {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 25px rgba(0, 68, 204, .9);
	}
	to {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .5);
	}
}

.masthead .btn {
	padding: 14px 24px;
	font-size: 24px;
	font-weight: 200;
	color: #FFFFFF; /* redeclare to override the `.jumbotron a` */
	border: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .01);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .01);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25), 0 2px 10px rgba(0, 68, 204, .01);
	-webkit-animation-name: downloadButton;
	-moz-animation-name: downloadButton;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;

}

.masthead .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
	position: relative;
	z-index: 2;
}

.jumbotron:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/cacke20.png) no-repeat center right;

}

/* Masthead (docs home)
------------------------- */
.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: #FFFFFF;
}

.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}

.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
	margin: 0;
	list-style: none;
}

.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255, 255, 255, .25);
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
	padding: 15px 0;
	text-align: center;
	background-color: #F5F5F5;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
}

/* Quick links on Home */
.bs-docs-social-buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.bs-docs-social-buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
}

/* Subhead (other pages)
------------------------- */
.subhead {
	text-align: left;
	border-bottom: 6px solid rgba(0, 0, 43, 1);
}

.subhead h1 {
	font-size: 60px;
}

.subhead p {
	margin-bottom: 20px;
}

.subhead .navbar {
	display: none;
}

/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
	text-align: center;
	color: #5A5A5A;
}

.marketing h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

.marketing h2 {
	font-weight: 200;
	margin-bottom: 5px;
}

.marketing p {
	font-size: 16px;
	line-height: 1.5;
}

.marketing .marketing-byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #999999;
}

.marketing img {
	display: block;
	margin: 0 auto 30px;
}

/* Footer
-------------------------------------------------- */

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
}

.footer p {
	margin-bottom: 0;
	color: #777777;
}

.footer-links {
	margin: 10px 0;
}

.footer-links li {
	display: inline;
	margin-right: 10px;
}

/* Special grid styles
-------------------------------------------------- */

.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}

.show-grid [class*="span"] {
	background-color: #EEEEEE;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
	border: 1px solid #E5E5E5;
}

.show-grid:hover [class*="span"] {
	background: #DDDDDD;
}

.show-grid .show-grid {
	margin-top: 0;
	margin-bottom: 0;
}

.show-grid .show-grid [class*="span"] {
	background-color: #CCCCCC;
}

/* Mini layout previews
-------------------------------------------------- */
.mini-layout {
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
	height: 300px;
}

.mini-layout {
	margin-bottom: 20px;
	padding: 9px;
}

.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mini-layout .mini-layout-body {
	background-color: #DCEAF4;
	margin: 0 auto;
	width: 70%;
}

.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
	float: left;
}

.mini-layout.fluid .mini-layout-sidebar {
	background-color: #BBD8E9;
	width: 20%;
}

.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}

/* Download page
-------------------------------------------------- */

.download .page-header {
	margin-top: 36px;
}

.page-header .toggle-all {
	margin-top: 5px;
}

/* Space out h3s when following a section */
.download h3 {
	margin-bottom: 5px;
}

.download-builder input + h3,
.download-builder .checkbox + h3 {
	margin-top: 9px;
}

/* Fields for variables */
.download-builder input[type=text] {
	margin-bottom: 9px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
	color: #DD1144;
}

.download-builder input[type=text]:focus {
	background-color: #FFFFFF;
}

/* Custom, larger checkbox labels */
.download .checkbox {
	padding: 6px 10px 6px 25px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	background-color: #F9F9F9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.download .checkbox:hover {
	color: #333333;
	background-color: #F5F5F5;
}

.download .checkbox small {
	font-size: 12px;
	color: #777777;
}

/* Variables section */
#variables label {
	margin-bottom: 0;
}

/* Giant download button */
.download-btn {
	margin: 36px 0 108px;
}

#download p,
#download h4 {
	max-width: 50%;
	margin: 0 auto;
	color: #999999;
	text-align: center;
}

#download h4 {
	margin-bottom: 0;
}

#download p {
	margin-bottom: 18px;
}

.download-btn .btn {
	display: block;
	width: auto;
	padding: 19px 24px;
	margin-bottom: 27px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Misc
-------------------------------------------------- */

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
	margin-top: 5px;
}

/* Example sites showcase */
.example-sites {
	xmargin-left: 20px;
}

.example-sites img {
	max-width: 100%;
	margin: 0 auto;
}

.scrollspy-example {
	height: 200px;
	overflow: auto;
	position: relative;
}

/* Fake the :focus state to demo it */
.focused {
	border-color: rgba(82, 168, 236, .8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 0 8px rgba(82, 168, 236, .6);
	outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
	display: block;
	margin-bottom: 9px;
}

/* Icons
------------------------- */
.the-icons {
	margin-left: 0;
	list-style: none;
}

.the-icons li {
	float: left;
	width: 25%;
	line-height: 25px;
}

.the-icons i:hover {
	background-color: rgba(255, 0, 0, .25);
}

/* Eaxmples page
------------------------- */
.bootstrap-examples p {
	font-size: 13px;
	line-height: 18px;
}

.bootstrap-examples .thumbnail {
	margin-bottom: 9px;
	background-color: #FFFFFF;
}

/* Bootstrap code examples
-------------------------------------------------- */

/* Base login */
.login {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the login */
.login:after {
	content: "Авторизация";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base error */
.error {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the login */
.error:after {
	content: "Доступ запрещен";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base register */
.register {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the register */
.register:after {
	content: "Регистрация";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base start game */
.start-game {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the register */
.start-game:after {
	content: "НАЧАТЬ ИГРАТЬ";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base register success */
.reg-success {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the register success*/
.reg-success:after {
	content: "Спасибо за регистрацию";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base profil */
.profil {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the profil */
.profil:after {
	content: "Настройки аккаунта";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base profil */
.profilmine {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the profil */
.profilmine:after {
	content: "Мини профиль";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base Serverstats */
.Serverstats {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 1px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the Serverstats */
.Serverstats:after {
	content: "Cтатус сервера";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base news */
.news {
	position: relative;
	margin: 15px 0;
	padding: 2px 19px 10px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the news */
.news:after {
	content: "Новости сайта";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Base comments */
.comments {
	position: relative;
	margin: 15px 0;
	padding: 35px 19px 10px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the comments */
.comments:after {
	content: "Комментарии";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}