/* Настройка прогресс бара - Красный */

div .redbar {  
  border: 0px; 
  background-color: #D9534F;
  width: 120px;
  float: right; 
  margin-right: 6px;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Настройка прогресс бара - Синий */

div .bluebar { 
  border: 0px; 
  background-color: #5BC0DE;
  width: 124px;
  float: right; 
  margin-right: 6px;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


/* Настройка прогресс бара - Зеленый */

div .greenbar { 
  border: 0px; 
  background-color: #e0e0e0;
  width: 124px;
  float: right; 
  margin-right: 6px;
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div .greenbar div {
  background: #5CB85C;
}


/* Настройка прогресс бара - Основная настройка - родитель */

div .progressbar_meter {
  height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold; 
  color: #fff; 
  line-height: 16px; 
  text-shadow: 0px 0px 3px #000;
  text-indent: 2px;
  white-space: nowrap;
  -o-text-shadow: 0px 0px 3px #000;
  -moz-text-shadow: 0px 0px 3px #000;
  -webkit-text-shadow: 0px 0px 3px #000;

  border-radius: 2px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* Статичная подпись - центр прогресс бара */

div .progressbar_overlay {
  text-align: center;
  font-size: 12px;
  font-weight: bold; 
  color: #fff; 
  line-height: 20px; 
  text-shadow: 0px 0px 3px #000;
  margin-top: 1px;
  float:left; 
  display: block; 
  text-align:center; 
  width: 100%;
}