#################
## ignored files
#################

config.php
log.txt
upload/MineCraft/MinecraftSkins/
upload/MineCraft/MinecraftCloaks/
upload/MineCraft/tmp/skin_buffer/
upload/main.cfg.php
*log.txt
log.txt
upload/cache/*.php
upload/MineCraft/userdata/
